{{template  "base" .}}

{{define "title"}}
  Admin page
{{end}}



{{define "content"}}
  <body>
    <nav>
      <ul>
        <li> <a class="nav-link" href="/admin/books"> Manage books </a></li>
        <li> <a class="nav-link" href="/admin/books/create"> Create book </a></li>
        <li> <a class="nav-link" href="/admin/users/list"> List book </a></li>
      </ul>
    </nav>
  </body>
{{end}}